<footer class="bg-gray-800 py-6">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <!-- Logo -->
        <div class="w-full md:w-1/4 text-center md:text-left mb-4 md:mb-0">
            <img src="./assets/images/logo.png" alt="Logo" class="h-8">
        </div>
        <!-- Links -->
        <div class="w-full md:w-1/2 text-center">
            <ul class="list-none">
                <li class="inline-block mr-4">
                    <a href="#" class="text-white hover:text-gray-300">Home</a>
                </li>
                <li class="inline-block mr-4">
                    <a href="#" class="text-white hover:text-gray-300">About</a>
                </li>
                <li class="inline-block mr-4">
                    <a href="#" class="text-white hover:text-gray-300">Services</a>
                </li>
                <li class="inline-block mr-4">
                    <a href="#" class="text-white hover:text-gray-300">Contact</a>
                </li>
            </ul>
        </div>
        <!-- Social Icons -->
        <div class="w-full md:w-1/4 text-center md:text-right">
            <ul class="list-none">
                <li class="inline-block mr-4">
                    <a href="#" class="text-white hover:text-gray-300"><img src="./assets/images/facebook.png"></a>
                </li>
                <li class="inline-block mr-4">
                    <a href="#" class="text-white hover:text-gray-300"><img src="./assets/images/twitter.png"></a>
                </li>
                <li class="inline-block mr-4">
                    <a href="#" class="text-white hover:text-gray-300"><img src="./assets/images/youtube.png"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
